.root{
    position:absolute;
    height: 100%;
    width: 100%;
}
#btn{
    position:absolute;
    display: block;
    left:50%;
    top:50%;
    padding:0;
    z-index: 1;
}
#login{
    display: none;
    float: right;
    position: absolute;
    height: 80px;
    width: 270px;
    left: 50%;
    top: 50%;
    z-index: 2;

}
.login input {
    float: right;
    height: 25px;
}